:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --font-paragraph: 16px;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--stone-100);
}

main {
  max-width: 720px;
  margin: auto;
  background-color: var(--white);
}

.recipe-img {
  overflow: hidden;
}

.recipe-img img {
  width: 100%;
}

.recipe-container {
  padding: 32px;
}

.recipe-container header {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.recipe-container header h1 {
  font-family: "Young Serif", sans-serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 1.1;
}

.recipe-container header p {
  font-size: var(--font-paragraph);
  font-weight: 400;
  color: var(--stone-600);
  line-height: 1.5;
}

.preparation-time {
  padding: 24px;
  background-color: var(--rose-50);
  border-radius: 12px;
}

.preparation-time h2 {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--rose-800);
  margin-bottom: 12px;
}

.preparation-time ul {
  list-style-position: inside;
  padding-left: 8px;
  color: var(--stone-600);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.preparation-time ul li {
  font-size: var(--font-paragraph);
  font-weight: 400;
  color: var(--stone-600);
}

.preparation-time ul li::marker {
  color: var(--rose-800);
}

.preparation-time ul li span {
  font-weight: 700;
}

@media (min-width: 768px) {
  body {
    padding: 100px 16px;
  }

  main {
    border-radius: 20px;
  }

  .recipe-img {
    padding: 32px;
    border-radius: 20px;
    overflow: hidden;
  }

  .recipe-img img {
    border-radius: 20px;
  }

  .recipe-container {
    padding: 0 32px 32px 32px;
  }
}
