:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --font-paragraph: 16px;
}

/* -----GLOBAL RESET & TYPOGRAPHY----- */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--stone-100);
}

main {
  background-color: var(--white);
}

h1 {
  font-family: "Young Serif", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.1;
}

h2 {
  font-family: "Young Serif", sans-serif;
  font-size: 2.2em;
  font-weight: 400;
  color: var(--brown-800);
}

h4 {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--rose-800);
  margin-bottom: 12px;
}

p {
  font-size: var(--font-paragraph);
  font-weight: 400;
  color: var(--stone-600);
  line-height: 1.5;
}

ul,
ol {
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--stone-600);
}

li {
  margin-left: 20px;
  padding-left: 16px;
  font-size: var(--font-paragraph);
  font-weight: 400;
  line-height: 1.5;
}

hr {
  border-top: 2px solid var(--stone-150);
  border-radius: 5px;
}

footer {
  text-align: center;
  color: var(--stone-600);
  font-size: var(--font-paragraph);
}

footer a {
  color: var(--brown-800);
}

.recipe-img {
  overflow: hidden;
  animation: slide-in 0.5s ease;
}

.recipe-img img {
  width: 100%;
}

/* -----RECIPE-CONTAINER----- */

.recipe-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  animation: fade-in 1s ease;
}

/* -----PREPARATION BOX----- */

.preparation-time {
  padding: 24px;
  background-color: var(--rose-50);
  border-radius: 12px;
}

.preparation-time ul ::marker {
  color: var(--rose-800);
}

/* -----RECIPE-STEPS----- */

.recipe-steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-steps ul ::marker {
  color: var(--brown-800);
}

.recipe-steps ol ::marker {
  color: var(--brown-800);
  font-weight: 700;
  font-variant: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr,
td {
  padding: 12px 32px;
  text-align: left;
  color: var(--stone-600);
}

td:nth-child(2) {
  color: var(--brown-800);
  font-weight: 700;
}

tr {
  border-bottom: 2px solid var(--stone-150);
}

tr:last-child {
  border: none;
}

@media (min-width: 768px) {
  body {
    padding: 100px 16px;
  }

  main {
    max-width: 700px;
    margin: auto;
    border-radius: 20px;
  }

  .recipe-img {
    padding: 32px;
    border-radius: 20px;
    overflow: hidden;
  }

  .recipe-img img {
    border-radius: 20px;
  }

  .recipe-container {
    padding: 0 32px 32px 32px;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
