@import "tailwindcss";

@theme {
  --color-white: hsl(0, 0%, 100%);

  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);

  --color-brown-800: hsl(14, 45%, 36%);

  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);

  --text-paragraph: 16px;
  --font-outfit: "Outfit", sans-serif;
  --font-young-serif: "Young Serif", sans-serif;

  --animate-slide-in: slide-in 0.5s ease;
  --animate-fade-in: fade-in 1s ease;
}

@layer base {
  * {
    @apply m-0 p-0 scroll-smooth box-border font-outfit;
  }

  body {
    @apply min-h-screen bg-stone-100 md:px-4 md:py-25;
  }

  main {
    @apply bg-white md:max-w-[700px] md:m-auto md:rounded-xl;
  }

  h1 {
    @apply font-young-serif text-4xl font-[400] leading-[1.1];
  }

  h2 {
    @apply font-young-serif text-3xl font-[400] text-brown-800;
  }

  h4 {
    @apply text-xl font-[600] text-rose-800 mb-3;
  }

  p {
    @apply text-paragraph font-[400] text-stone-600 leading-[1.5];
  }

  ul,
  ol {
    @apply list-outside flex flex-col gap-2 text-stone-600;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply ml-5 pl-4 text-paragraph font-[400] leading-[1.5];
  }

  hr {
    @apply border-t-2 border-solid border-stone-150 rounded-md;
  }

  table {
    @apply w-full border-collapse;
  }

  tr,
  td {
    @apply px-8 py-3 text-left text-stone-600;
  }

  td:nth-child(2) {
    @apply text-brown-800 font-[700];
  }

  tr {
    @apply border-b-2 border-solid border-stone-150;
  }

  tr:last-child {
    @apply border-none;
  }

  footer {
    @apply text-center text-stone-600 text-paragraph;
  }

  footer a {
    @apply text-brown-800;
  }
}

@layer components {
  .recipe-img {
    @apply overflow-hidden animate-slide-in md:p-8 md:rounded-xl md:overflow-hidden;
  }

  .recipe-img img {
    @apply w-full md:rounded-xl;
  }

  .recipe-container {
    @apply flex flex-col gap-6 p-8 md:pt-0 animate-fade-in;
  }

  .preparation-time {
    @apply p-6 bg-rose-50 rounded-lg marker:text-rose-800;
  }

  .recipe-steps {
    @apply flex flex-col gap-5;
  }

  .recipe-steps ul ::marker {
    @apply text-brown-800;
  }
}

.recipe-steps ol ::marker {
  color: var(--color-brown-800);
  font-weight: 700;
  font-variant: inherit;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
